<body>
    <h3>HALAMAN HOME</h3>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum nihil iusto aspernatur, quaerat aliquam illum voluptas error quibusdam, possimus fugiat at incidunt nostrum sint perferendis! Et officiis eligendi id quam.</p>
</body>
</html>